<div class="pay">
  <p class="asidetitle"><%= __('赞助我') %></p>
	<aside id="text-8" class="widget widget_text">
	<br/>
	<div align="center">
	<div class="textwidget">
	<form action="https://shenghuo.alipay.com/send/payment/fill.htm" method="POST" target="_blank" accept-charset="GBK"> <input name="optEmail" type="hidden" value="alexyyek@126.com"> 
	<input name="payAmount" type="hidden" value="10">
	<input name="title" type="hidden" value="赞助AlexYoung">
	<input name="memo" type="hidden" value="感谢您的赞助">
	<input name="pay" type="image" value="捐款" src="/img/alipay1.png">
	</form>
	</div>
</aside>
</div>
