<div align="center">
<br/>
	欢迎第
	<a href="http://www.amazingcounters.com"><img border="0" src="http://cc.amazingcounters.com/counter.php?i=3183127&c=9549694" alt="AmazingCounters.com">
	</a>
	位访问者
</div>